{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Iniciar Sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="correo" >Correo Electrónico: </label>
        <input name="correo" id="correo" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Iniciar Sesion" />
    </form>

{% endblock %}

