{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Administrador {% endblock %}</h1>    
{% endblock %}

{% block content %}

<ul>

    <li><a href="{{ url_for('todo_usu.create_usuario') }}">Dar alta Usuarios</a></li>
    <li><a href="{{ url_for('todo_usu.view_usuario') }}">Editar Usuarios</a></li>
    <br><br>
    <li><a href="{{ url_for('todo_den.create_dentista') }}">Dar alta Dentistas</a></li>
    <li><a href="{{ url_for('todo_den.view_dentista') }}">Editar Dentistas</a></li>
    <br><br>
    <li><a href="{{ url_for('todo_mat.create_material') }}">Dar alta Materiales</a></li>
    <li><a href="{{ url_for('todo_mat.view_material') }}">Editar Materiales</a></li>
    <br><br>
    <li><a href="{{ url_for('todo_encuesta.view_enc_g') }}">Mostrar Encuestas</a></li>

</ul>
   
{% endblock %}