<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Dental </title>
<link rel="stylesheet" href= "{{ url_for('static', filename= 'style.css') }}">
<nav>
    <h1>Dental Little Tooth</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['tx_correo'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
            <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %} {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>



