body{
    background-color:azure;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #333;
}
 li{
    float: left;
 }
 li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
 }
 li:hover{
    background-color: rgba(0,0,0,0.3);
 }
 .active{
    background-color:cadetblue;
 }

 .content {
   margin-top: 100px;
   text-align: center;
 }
 .dropdown-btn{
   background-color: #4caf50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer; /* cuando pasen el mouse se pone diferente el cursor*/
}
.dropdown{
   position: relative;
   display: inline-block;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
.dropdown-content a {
   color:black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.dropdown-content a:hover{
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn{
   background-color: #3e8e41;
}

.dropdown:hover .dropdown-content{
   display: block;
}

.grid-container {
   display: grid;
   gap: 50px 100px;
   grid-template-columns: auto auto;
   padding: 10px;
 }
 
 .grid-item {
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 15px;
   text-align: center;
 }

 div.b {
    font-family: 'times new roman';

 }
 h1{
   font-family: 'times new roman';
 }